<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <center>
          <h2 style="background-color: #5566BB"><font  color="white">Welcome to Yachen's App</font></h2>
    </center>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
          <a onClick="loginface()">Login with facebook</a>
          <a href="#/app/playlists">Register</a>
        </label>
      </div>
    </form>
      
    <script>
    // check if stored data from register-form is equal to entered data in the   login-form
    function check() {
        // stored data from the register-form
        var storedName = localStorage.getItem('userName');
        var storedPassword = localStorage.getItem('userPassword');
        // entered data from the login-form
        var userName = document.getElementById('userName');
        var userPassword = document.getElementById('userPassword');
        // check if stored data from register-form is equal to data from login form
        if(userName.value !== storedName || userPassword.value !== storedPassword) {
            document.getElementById("error_message").innerHTML="Invalid credentials. Please try again ";
            //alert('ERROR');
        }else {
            self.location="welcome.html";
            //window.navigate("directions.html");
        }
    }
    window.fbAsyncInit = function () {
        FB.init({
            appId: '762403760598872',
            xfbml: true,
            version: 'v2.7'
        });
        FB.getLoginStatus(function (response) {
            if (response.status === 'connected') {
                document.getElementById('status').innerHTML = 'We are connected to FaceBook';
            } else if (response.status === 'not_authorized') {
                document.getElementById('status').innerHTML = 'We are not connected to FaceBook';
            } else{
                document.getElementById('status').innerHTML = 'We are not logged into FaceBook';
            }
        });
    };
    (function(thisdocument, scriptelement, id) {
        var js, fjs = thisdocument.getElementsByTagName(scriptelement)[0];
        if (thisdocument.getElementById(id)) return;
        js = thisdocument.createElement(scriptelement); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js"; //you can use
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    function  loginface() {
        FB.login(function (response) {
            if (response.status === 'connected') {
                self.location="welcome.html";
                document.getElementById('status').innerHTML = 'We are connected to FaceBook';
            } else if (response.status === 'not_authorized') {
                document.getElementById('status').innerHTML = 'We are not connected to FaceBook';
            } else{
                document.getElementById('status').innerHTML = 'We are not logged into FaceBook';
            }
        });
    }
</script>
  </ion-content>
</ion-modal-view>
